<h2 id="title">Welcome to Ember</h2>

{{outlet}}
<Router>
<nav>
  <ul>
    <li><Link @to="/about">About</Link></li>
    <li><Link @to="/contact">Contact</Link></li>
  </ul>
</nav>
<Route @path="/about" @component={{this.About}}/>
<Route @path="/contact" @component={{this.Contact}}/>
</Router>
